
<div class="helpPage-transBox">
  <h2 class="helpPage-text text-center">
    Here are some quick tidbits about BudgetApp the site.
  </h2>
  <ul class="helpPage-HelpList">
    <li class="helpPage-HelpList-HelpItem">Click the sign up link at the top to sign up for an account to start tracking your expenses</li>
    <li class="helpPage-HelpList-HelpItem">Click the login button at the top to login and see your expenses.</li>
    <li class="helpPage-HelpList-HelpItem">When logged in and on your profile page click on the Add Expense link to add a new expense.</li>
    <li class="helpPage-HelpList-HelpItem">When logged in and on your profile page click on the Add to Budget link to add more money to your budget.</li>
    <li class="helpPage-HelpList-HelpItem">There two charts that you see  will tell you how much money you spend on each category.</li>
  </ul>
</div>
