
<div class="helpPage-transBox">
  <p class="helpPage-text text-center">
    Here are some quick tidbits about BudgetApp the site.
  </p>
  <ul>
    <li>Click the sign up link at the top to fill out the form and sign up for an account to start tracking your expenses</li>
    <li>Click the login button at the top to login and see your expenses.</li>
    <li>When logged in and on your profile page click on the Add Expense link to add a new expense.</li>
    <li>When logged in and on your profile page click on the Add to Budget link to add more money to your budget.</li>
    <li>There two charts that you see  will tell you how much money you spend on each category, and how many expenses you have per category.</li>
  </ul>
</div>
