
<div class="homePage-transBox">
  <p class="homePage-text text-center">
    Welcome to BudgetApp the site. Sign up or Login and Begin Tracking Your Expenses and See Where Your Money is Going. (Sample Below)
  </p>
  <div class="homePage-barChartSample">
    <%= column_chart Expense.limit(5).order('RANDOM()').joins(:category).group('categories.name').sum(:amount_paid), prefix: "$" %>
  </div>
</div>
