@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  padding-top: 60px;
  height: 100%;
  margin: 0;
  background: linear-gradient(to top right, #33ccff 0%, #9966ff 100%);
}
/* forms */
input, textarea, select, .uneditable-input { border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  // @include box_sizing;
}
input {
  height: auto !important;
}
