@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
  // padding-top: 60px;
  height: 100%;
  margin: 0;
}
/* forms */
input, textarea, select, .uneditable-input { border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  // @include box_sizing;
}
input {
  height: auto !important;
}
