// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .carousel-inner > .item > img {
//   width:100%;
//   height:400px !important;
// }
.homePage, .helpPage{
  &-transBox{
    margin: auto;
    width: 50vw;
    height: 50vh;
    background-color: #ffffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  &-text{
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
}
